<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{parts/common::head}"></head>

<body class="bg-light">
	<div class="container d-flex justify-content-center align-items-center vh-100">
		<div class="col-md-5">
			<div class="card shadow-lg p-4">
				<div class="card-body text-center">
					<h1 class="h4 mb-3">副資材管理システム 管理者ログイン</h1>
					
					<!-- エラーメッセージ -->
					<th:block th:object="${admin}">
						<div th:if="${#fields.hasErrors('loginId')}" class="alert alert-danger p-2">
							<span th:errors="*{loginId}"></span>
						</div>
						<div th:if="${#fields.hasErrors('loginPass')}" class="alert alert-danger p-2">
							<span th:errors="*{loginPass}"></span>
						</div>
					</th:block>

					<!-- ログインフォーム -->
					<form th:action="@{/admin/login}" method="post" th:object="${admin}">
						<div class="form-floating mb-3">
							<input th:field="*{loginId}" type="text" class="form-control" id="floatingLoginId"
								placeholder="ログインID">
							<label for="floatingLoginId">管理者ID</label>
						</div>
						<div class="form-floating mb-3">
							<input th:field="*{loginPass}" type="password" class="form-control"
								id="floatingPassword" placeholder="パスワード">
							<label for="floatingPassword">パスワード</label>
						</div>
						<div class="d-grid">
							<button type="submit" class="btn btn-primary btn-lg">ログイン</button>
						</div>
					</form>
					<!-- 一般ログインページへのリンク -->
					<div class="mt-3">
						<a th:href="@{/team/login}" class="text-decoration-none">一般ログインはこちら</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>

</html>
