<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.app.mapper.ItemMapper">
	<select id="selectAll" resultType="Item">
		SELECT i.id, i.name,
		SUM(p.amount) AS amount, i.purchased_at, i.note
		FROM placements AS p
		JOIN items AS i
		ON i.id = p.item_id
		GROUP BY p.item_id
		ORDER BY i.name
	</select>
	<select id="selectLimited" resultType="Item">
		SELECT i.id, i.name,
		SUM(p.amount) AS amount, i.purchased_at, i.note
		FROM placements AS p
		JOIN items AS i
		ON i.id = p.item_id
		GROUP BY p.item_id
		ORDER BY i.name
		LIMIT #{offset},#{num}
	</select>

	<select id="selectById" resultType="Item" parameterType="int">
		SELECT *
		FROM items WHERE id = #{id}
	</select>

	<select id="selectByRoomId" resultType="Item"
		parameterType="string">
		SELECT i.id, i.name, p.amount, i.purchased_at, i.note
		FROM placements AS p
		JOIN items AS i
		ON i.id = p.item_id
		WHERE p.room_id
		= #{roomId}
		ORDER BY i.name
	</select>
	<select id="selectLimitedByRoomId" resultType="Item">
		SELECT i.id,
		i.name, p.amount, i.purchased_at, i.note
		FROM placements AS p
		JOIN items
		AS i
		ON i.id = p.item_id
		WHERE p.room_id
		= #{roomId}
		ORDER BY i.name
		LIMIT
		#{offset},#{num}
	</select>

	<delete id="deleteById" parameterType="int">
		DELETE FROM items WHERE id
		= #{id};
	</delete>

	<insert id="insert" parameterType="Item" useGeneratedKeys="true"
		keyProperty="id">
		INSERT INTO items (name, purchased_at, note, category)
		VALUES
		(#{name}, #{purchasedAt}, #{note}, #{category});
	</insert>

	<update id="update" parameterType="Item">
		UPDATE items
		SET name =
		#{name}, purchased_at = #{purchasedAt}, note = #{note}, category=#{category}
		WHERE id =
		#{id};
	</update>

	<!-- カテゴリ & 倉庫 両方でフィルタ -->
	<select id="selectByCategoryAndRoom" resultType="Item">
		SELECT i.id,
		i.name, i.category, SUM(p.amount) AS amount, i.purchased_at,
		i.note
		FROM placements AS p
		JOIN items AS i ON i.id = p.item_id
		WHERE
		i.category = #{category}
		AND p.room_id = #{roomId}
		GROUP BY p.item_id
		ORDER BY i.name;
	</select>

	<!-- カテゴリのみでフィルタ -->
	<select id="selectByCategory" resultType="Item">
		SELECT i.id, i.name,
		i.category, SUM(p.amount) AS amount, i.purchased_at,
		i.note
		FROM
		placements AS p
		JOIN items AS i ON i.id = p.item_id
		WHERE i.category =
		#{category}
		GROUP BY p.item_id
		ORDER BY i.name
		LIMIT #{offset},
		#{numPerPage};
	</select>

	<!-- カテゴリ & 倉庫のアイテム数カウント -->
	<select id="countByCategoryAndRoom" resultType="integer">
		SELECT COUNT(DISTINCT i.id)
		FROM placements AS p
		JOIN items AS i ON i.id = p.item_id
		WHERE i.category = #{category}
		AND p.room_id = #{roomId};
	</select>


	<!-- カテゴリのアイテム数カウント -->
	<select id="countByCategory" resultType="integer">
		SELECT COUNT(DISTINCT
		i.id)
		FROM items AS i
		WHERE i.category = #{category};
	</select>

</mapper>