<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.app.mapper.ItemMapper">
	<!-- items テーブルのカラムを Item クラスのフィールドにマッピング -->
	<resultMap id="itemMap" type="com.example.app.domain.Item">
		<id column="id" property="id" />
		<result column="name" property="name" />
		<result column="purchased_at" property="purchasedAt" />
		<result column="note" property="note" />
	</resultMap>

	<!-- 全件取得 -->
	<select id="selectAll" resultMap="itemMap">
		SELECT i.id, i.name,
		SUM(p.amount) AS amount, i.purchased_at, i.note
		FROM placements AS p
		JOIN items AS i
		ON i.id = p.item_id
		GROUP BY p.item_id
		ORDER BY i.name
	</select>
	<select id="selectById" resultType="Item" parameterType="int">
		SELECT *
		FROM items WHERE id = #{id}
	</select>

</mapper>