.bg-primary-light {
	background: #d3e5ff;
}


/* ページネーション */
.pagination .page-item.active .page-link {
	background-color: #198754;
	/* Bootstrapのsuccess色 */
	border-color: #198754;
	color: white;
}

/* 通常のページリンクの色を変更 */
.pagination .page-link {
	color: #198754;
	/* success色の緑 */
}

/* ホバー時の色 */
.pagination .page-link:hover {
	background-color: #d4edda;
	/* Bootstrapのsuccess系の薄い緑 */
	border-color: #198754;
}



/* ログインフォーム */
.form-signin {
	width: 100%;
	max-width: 330px;
	padding: 15px;
	margin: auto;
}

.form-signin .checkbox {
	font-weight: 400;
}

.form-signin .form-floating:focus-within {
	z-index: 2;
}

.form-signin input[type="text"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

/* マップ */
.map-wrapper {
	position: relative;
	max-width: 100%;
	aspect-ratio: 1243 / 669;
}

.map-wrapper img {
	width: 100%;
	display: block;
}

.area {
	position: absolute;
	border: 2px solid transparent;
	background-color: transparent;
	transition: 0.2s;
}

.area:hover {
	background-color: rgba(255, 255, 0, 0.3);
	border-color: orange;
	cursor: pointer;
}

.area.selected {
	background-color: rgba(0, 128, 255, 0.3);
	border-color: #007bff;
}
